Source: turnwatcher
Priority: optional
Maintainer: R. Douglas Barbieri <doug@dooglio.net>
Build-Depends: cdbs (>= 0.2.8), debhelper (>= 4.0.0), base-files (>= 3.1.5ubuntu4 ), binutils (>= 2.16.1-2ubuntu6 ), binutils-multiarch (>= 2.16.1-2ubuntu6 ), coreutils (>= 5.2.1-2ubuntu2 ), gcc-4.0 (>= 4.0.1-4ubuntu9 ), libatk1.0-0 (>= 1.10.3-0ubuntu2 ), libc6 (>= 2.3.5-1ubuntu12 ), libc6-i686 (>= 2.3.5-1ubuntu12 ), libcairo2 (>= 1.0.2-0ubuntu1 ), libfontconfig1 (>= 2.3.2-1ubuntu4 ), libgcc1 (>= 1 ), libgdbm3 (>= 1.8.3-2 ), libglib2.0-0 (>= 2.8.3-0ubuntu1 ), libglibmm-2.4-1c2 (>= 2.8.0-0ubuntu1 ), libgtk2.0-0 (>= 2.8.6-0ubuntu2.1 ), libgtkmm-2.4-1c2 (>= 2.8.0-0ubuntu1 ), libjpeg62 (>= 6b-10 ), libmo (>= 1.0.0-2 ), libpango1.0-0 (>= 1.10.1-0ubuntu1 ), libpng12-0 (>= 1.2.8rel-1ubuntu3 ), libsigc++-2.0-0c2 (>= 2.0.10-3 ), libstdc++6 (>= 4.0.1-4ubuntu9 ), libtiff4 (>= 3.7.3-1ubuntu1 ), libx11-6 (>= 1 ), libxcursor1 (>= 1.1.4-0ubuntu5 ), libxext6 (>= 1 ), libxfixes3 (>= 1 ), libxi6 (>= 1 ), libxinerama1 (>= 1 ), libxrandr2 (>= 1 ), libxrender1 (>= 1 ), zlib1g (>= 1 )
Standards-Version: 3.6.1
Section: x11

Package: turnwatcher
Section: x11
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Turn Watcher (tm) d20 Rounds Tracker
 Turn Watcher (tm) is a friend to d20 Dungeon and Game Masters alike. It helps the GM track initiative rounds
 during combat, keeping track of the current turn. It also tracks current hit points, keeps track of characters
 and monsters who delay or ready an action and shows the current round number. Turn Watcher is not a free
 application; a license from Made to Order Software Corporation must be purchased in order to use this
 software.
