
body,html {
	background-color: #FFFFFF;
	margin: 0px 10px 10px 10px;
	font-family: verdana;
	font-size: 13px;
	color:#000000;
}

a:link,a:visited,.linkcolor {
	color:#3366CC;
}
a:hover,a.nodecor:hover {
	color:#003399;
	text-decoration:underline;
}

.nodecor {
	text-decoration:none;
}

form, select, option, input, button, textarea {
	margin: 0px;
	font-family: verdana;
	font-size: 10px;
}


td, table {
	vertical-align: top;
	font-family: verdana;
	font-size: 13px;
	color:#000000;
	border-collapse:collapse;
}

.tableheader {
	background-color: #99cc33;
}

table.border {
	font-family: verdana;
	page-break-inside: avoid;
	border-color:cccccc;
	border-width:1px;
	border-style:solid;
	border-collapse:collapse;
}

.hr {
	height: 1px;
	background-color: #CCCCCC;
	padding-top: 0;
	padding-bottom: 0;
}

img.imageborder {
	border-width:0;
}


.tableheaderbg {
	background-color: #999999;
	color: #ffffff;
	font-weight:bold;
}
.checkoutbg {
	background-color: #ffffff;
}
.tablebg {
	background-color: #F5F5F5;
	color: #000000;
}
.tablebg2 {
	background-color: #E9E9E9;
	color: #000000;
}
.sidebartext {
	color: #000000;
}
.sidebarbg {
	background-color: #ffffff;
}
.alertmessage {
	color: #cc0000;
}
.memberheaderbg {
	background-color: #999999;
	color: #ffffff;
	font-weight:bold;
}


.list_arrows {
	list-style-image: url(/cp/info/img/list_arrows.gif);
}






/* Need to change to headings below. HSteward */
.subhead {
	font-size: 12pt;
	color: #333333;
	font-weight: bold;
}










.bordergray, .imageborder1 { border: 1px solid #CCCCCC; }



.print {font-size:9.5pt;line-height:17px;}

.headingprint {font-size:12pt;}
.subheadingprint {font-size:10.5pt;}
.descriptionprint {font-size:8.5pt;line-height:14px;}
.ff0000,a.ff0000:link,a.ff0000:visited {color:#ff0000;}
.orange {color:#FF9933;}
.dotted {border-style:dotted;}
.padded9 {padding:9px;}

.footer_textsmall { font-size:7.5pt;}
.contact_textmedium { font-size:8.5pt;}

.basicshop_leftnav { font-size:8.5pt;}


.tableheading {background-color:#999999;color:#ffffff;font-weight:bold;padding:5px;border-width:1px; border-style:solid; border-color: #ffffff; vertical-align:top;}
.tablecell1 {background-color:#dddddd;padding:5px;border-width:1px; border-style:solid; border-color: #ffffff; vertical-align:top;}
.tablecell2 {background-color:#eeeeee;padding:5px;border-width:1px; border-style:solid; border-color: #ffffff; vertical-align:top;}

.table_search_contentright {border: 1px solid #dddddd;}
.table_saved_products {border: 1px solid #dddddd;}



.tablebg_ffffff {background-color:#ffffff;}
.tablebg_ededed {background-color:#ededed;}
.tablebg_dddddd {background-color:#dddddd;}
.tablebg_666666 {background-color:#666666;}
.tablebg_99cc00 {background-color:#99cc00;}
.tablebg_3366cc {background-color:#3366cc;}
.tablebg_ffe2c5 {background-color:#ffe2c5;}
.tablebg_globalsublinks {background-color:#99cc00;}
.tablebg_customize_leftnav {background-color:#ededed;padding:7px;}
.align_middle {vertical-align:middle;}


.divider_dotsvertical {border:0 none; vertical-align:top; padding:0; background-image: url("/content/global/img/dots_vertical.gif"); background-repeat:repeat-y}
.divider_dotshorizontal {border:0 none; vertical-align:top; padding:0; background-image: url("/cp/info/img/dots_vertical.gif"); background-repeat:repeat-x}

.padding1 {padding:1px;}
.padding3 {padding:3px;}
.padding5 {padding:5px;}
.padding7 {padding:7px;}
.padding10 {padding:10px;}
.padding12 {padding:12px;}
.padding15 {padding:15px;}

.search_textsmall { font-size:7.5pt;}

.button_gosearch_dddddd {width:35px;height:22px;border:0;}
.button_track_ffe2c5 {width:66px;height:23px;border:0;}



/* begin hsteward CSS additions */

.breadCrumb {
	font-size: 10px;
	color: #666666;
	margin-bottom: 10px;
	margin-left: 5px;
	text-transform:capitalize;
}
.breadCrumbIndicator {
	font-weight: bold;
}
.breadCrumbDivider {
}

.pageTitle, .head, H1 { 
	color: #FF9900; 
	font-size: 20px;
	font-weight:normal;
}
.commPageTitle, .head { 
	color: #333333; 
	font-size: 20px;
}

/* global footer styles -hs */
a.footerCorpLink:link, a.footerCorpLink:visited
{
	color:#ffffff;
	font-size:9.5px;
	text-decoration:none;
}

a.footerCorpLink:hover
{
	color:#ffffff;
	font-size:9.5px;
	text-decoration:underline;
}

a.footerCustServ:link, a.footerCustServ:visited
{
	color:#3366CC;
	font-size:9.5px;
	text-decoration:none;
}

a.footerCustServ:hover
{
	font-size:9.5px;
	text-decoration:underline;
}

.linkTheme,a.linkTheme:link,a.linkTheme:visited {
	text-decoration:none;
}

a.linkTheme:hover {
	color:#003399;
}

.footerNav, .footer {
	font-size: 10px;
}

.footerNavDivider {
	color:#CCCCCC;
	font-size:9px;
	margin-left:3px;
	margin-right:3px;
}

.footerLegal,.linkFooterLegal,a.linkFooterLegal:link,a.linkFooterLegal:visited {
	font-size: 10px;
	color: #666666;
}

.ftrLine {
	height:10px;
	border-bottom: 1px solid #666666;
	margin-bottom: 8px;
}
.hdrBreak {
	height:10px;
}
.hdrSubNav {
	background-color:#99cc00;
	height:25px;
	vertical-align:middle;
	text-align:center;
	border-bottom: 1px solid #666666;
}
.formAsterisk {
	color:#ff6600;
}
#leftNavText {
	font-size: 11px;
	text-transform:capitalize;
}
 .nav {
	font-size: 11px;
}
.leftNavSelect, .navselect {
	font-weight: bold;
	font-size: 11px;
}
.leftNavSub, .navsub {
	font-size: 10px;
	margin-left: 8px;
}
.leftNavSubSelect {
	font-size: 10px;
	font-weight: bold;
	margin-left: 8px;
}
.leftNavHdr {
	font-size: 11px;
	font-weight: bold;
	margin-top:10px;
}
.leftNavHdr1 {
	color:#000000;
	font-size: 11px;
	font-weight: bold;
	margin-bottom:15px;
	text-transform:uppercase;
	
}

.tableRowAlt1 {
	background-color: #F5F5F5;
	height:17px; 
}

.tableRowAlt2 {
	background-color: #E9E9E9;
	height:17px; 
}

.tabTableBorder {
	border: 1px solid #999999;
	padding:10px;
}

/* end hsteward CSS additions */


/* begin cmiller CSS additions */
.standardText {
	font-size: 12px;
}
.smallText, .mediumprint, .textmedium {
	font-size: 11px;
}
.xsmallText, .smallprint, .smallerprint, .textsmall, .tinyprint {
	font-size: 10px;
}
.xxsmallText {
	font-size: 9px;
}
.standardHeading {
	font-weight: bold;
}
.mediumHeading {
	font-size: 14px;
	font-weight: bold;
}
.smallHeading {
	font-size: 11px;
	font-weight: bold;
}
.xsmallHeading {
	font-size: 10px;
	font-weight: bold;
}
.largeHeading {
	font-size: 15px;
	font-weight: bold;
}
.xlargeHeading {
	font-size: 17px;
}
.xxlargeHeading {
	font-size: 19px;
}
.standardSectionHeader {
	background-color: #999999;
	padding: 4px;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}
.largeSectionHeader {
	background-color: #999999;
	padding: 4px;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}
.smallSectionHeader {
	background-color: #999999;
	padding: 4px;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}
.standardTableHeader {
	background-color: #999999;
	font-weight: bold;
	color: #FFFFFF;
}
.largeTableHeader {
	background-color: #999999;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	vertical-align: middle;
}
.smallTableHeader {
	background-color: #999999;
	padding: 4px 0px;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	vertical-align: middle;
}

.buttonPrimary {
	background-color: #FF6600;
	border-style: outset;
	border-width: 2px;
	padding: 1px 6px;
	line-height: 16px;
	text-align: center;
	font-family: verdana;
	font-weight: bold;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
}
.buttonPrimary:link {
	color: #FFFFFF;
}
.buttonPrimary:visited {
	color: #FFFFFF;
}
.buttonPrimary:hover {
	background-color: #FFB448;
	color: #FFFFFF;
	text-decoration: none;
}

.buttonPrimaryMedium {
	background-color: #FF6600;
	border-style: outset;
	border-width: 2px;
	padding: 3px 8px;
	line-height: 21px;
	text-align: center;
	font-family: verdana;
	font-weight: bold;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
}
.buttonPrimaryMedium:link {
	color: #FFFFFF;
}
.buttonPrimaryMedium:visited {
	color: #FFFFFF;
}
.buttonPrimaryMedium:hover {
	background-color: #FFB448;
	color: #FFFFFF;
	text-decoration: none;
}

.buttonSecondary {
	background-color: #FF9900;
	border-style: outset;
	border-width: 2px;
	padding: 1px 6px;
	line-height: 16px;
	text-align: center;
	font-family: verdana;
	font-weight: bold;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
}
.buttonSecondary:link {
	color: #FFFFFF;
}
.buttonSecondary:visited {
	color: #FFFFFF;
}
.buttonSecondary:hover {
	background-color: #FFB448;
	color: #FFFFFF;
	text-decoration: none;
}

.buttonGray {
	background-color: #888888;
	border-style: outset;
	border-width: 2px;
	padding: 1px 6px;
	line-height: 16px;
	text-align: center;
	font-family: verdana;
	font-weight: bold;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
}
.buttonGray:link {
	color: #FFFFFF;
}
.buttonGray:visited {
	color: #FFFFFF;
}
.buttonGray:hover {
	background-color: #AAAAAA;
	color: #FFFFFF;
	text-decoration: none;
}

.buttonGrayMedium {
	background-color: #888888;
	border-style: outset;
	border-width: 2px;
	padding: 3px 8px;
	line-height: 21px;
	text-align: center;
	font-family: verdana;
	font-weight: bold;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
}

.buttonGrayMedium:link {
	color: #FFFFFF;
}
.buttonGrayMedium:visited {
	color: #FFFFFF;
}
.buttonGrayMedium:hover {
	background-color: #AAAAAA;
	color: #FFFFFF;
	text-decoration: none;
}

.buttonCloseWindow {
	background-color: #CCCCCC;
	border-style: outset;
	border-width: 1px;
	padding: 1px 2px;
	font-weight: bold;
	font-size: 10px;
	color: #000000;
	float: right;
	width: 94px;
}
.buttonCloseWindow .x {
	display: block;
	border: 1px solid #000000;
	float: right;
}
.buttonCloseWindow a:link {
	color: #000000;
	text-decoration: none;
}
.buttonCloseWindow a:visited {
	color: #000000;
	text-decoration: none;
}
.buttonCloseWindow a:hover {
	color: #000000;
	text-decoration: none;
}

.buttonWrapper {
	padding: 2px 0px;
}

.errorMessageWrapper {
	color: #FF0000;
	font-weight: bold;
	margin: 4px 0px;
}

/* end cmiller CSS additions */

a.questionMarkLink {
	background: Yellow;
	border: 1px solid blue;
	text-decoration: none;
	font-size: 14px;
	margin-left: 5px;
}

a.questionMarkLink:hover {
	background: #ffaa00;
}




/* Help Window "Close Window" link */
.helpCloseLink {
	position: absolute; 
	right: 10px;
	font-weight: bold;
	font-size: 11px;
}

/* ajagtiani additions begin */

/* added 11.30.04 */
.continueCheckoutConfirmationButton { 
 	float: right;
}
tr.trAlignAllColsBottom td {
	vertical-align: bottom;
}

.navBarBorder {
		border-bottom: 1px solid #669900;
	}

/* ajagtiani addtions end */

/* sburson additions begin */
/* necessary from other style sheets 3/18/05 sburson */

a.narrow {

	font-family: verdana,geneva,arial,helvetica,sans-serif;
	font-size: 10px;
	line-height: 150%;
	/*text-indent: 0px;*/
	margin-left: 16px;

}

.dv {

	color: #333333;
	font-family: verdana,geneva,arial,helvetica,sans-serif;
	font-size: 8.5px;
	line-height: 150%;

}

.featuredetails {
	color: #888888;
	font-family: arial,helvetica,sans-serif;
	font-size: 7.5px;
}

.featurename {
	font-family: verdana,geneva,arial,helvetica,sans-serif;
	font-size: 9.5px;
	font-weight: bold;
}

.featureprice {
	font-family: verdana,geneva,arial,helvetica,sans-serif;
	font-size: 9.5px;
}

.hanging {
	text-indent: -7px;
	margin-left: 20px;

}

.mediumprint {
	font-family: verdana,geneva,arial,helvetica,sans-serif;
	font-size: 10px;
}

.narrow {

	font-family: verdana,geneva,arial,helvetica,sans-serif;

	font-size: 10px;

	line-height: 150%;

	/*text-indent: 0px;*/

	margin-left: 16px;

}

.narrowsmall {

	font-family: verdana,geneva,arial,helvetica,sans-serif;

	font-size: 10px;

	line-height: 150%;

	text-indent: 0px;

	margin-left: 11px;

}

.narrowtitle {

	color: #333333;

	font-family: verdana,geneva,arial,helvetica,sans-serif;

	font-size: 10px;

	letter-spacing: -1px;

	line-height: 150%;

	font-weight: bold;

	margin-left: 5px;

}

.pagenos {
	font-family: verdana,geneva,arial,helvetica,sans-serif;
	font-size: 8.5px;
}

.portalTitle, a.portalTitle:link, a.portalTitle:visited, a.portalTitle:hover {
	font-family: verdana,geneva,arial,helvetica,san-serif;
	font-size: 24px;
	color: #ffffff;
	padding: 15px 5px;
	height:62p;
	vertical-align:middle;
	text-decoration:none;
}


.seeall {
	font-size:9px;
}
	



/* Rounded CSS Corners */
.rtop,.rbottom{display:block}
.rtop *,.rbottom *{display:block;height: 1px;overflow: hidden}
.r1{margin: 0 5px}
.r2{margin: 0 3px}
.r3{margin: 0 2px}
.r4{margin: 0 1px;height: 2px}

.rs1{margin: 0 2px}
.rs2{margin: 0 1px}

div#rndff9900{ margin: 0 10%;background: #ff9900}
div#rnd8d8d8d{ margin: 0 10%;background: #8d8d8d}
div#rndffffff{ margin: 0 10%;background: #ffffff}





/* Global header rollover containers 3/22/05 sburson */
#btn_Nav_1 a {
	display:block;
	width:153px;
	height:30px;
	font: bold 14px/1 sans-serif;
	background: url("/content/global/img/btn_Sell_complete.gif") 0 0 no-repeat;
	text-decoration: none;
	filter:alpha(opacity=100);-moz-opacity:1;opacity:1;
}
#btn_Nav_1 a:hover {	
	background-position: -153px 0;
}

#btn_Nav_2 a {
	display:block;
	width:178px;
	height:30px;
	background: url("/content/global/img/btn_Marketplace_complete.gif") 0 0 no-repeat;
}
#btn_Nav_2 a:hover {	
	background-position: -178px 0;
}

#btn_Nav_3 a {
	display:block;
	width:112px;
	height:30px;
	background: url("/content/global/img/btn_Comm_complete.gif") 0 0 no-repeat;
}
#btn_Nav_3 a:hover {	
	background-position: -112px 0;
}

#btn_Nav_4 a {
	display:block;
	width:171px;
	height:30px;
	background: url("/content/global/img/btn_CreateBuy_complete.gif") 0 0 no-repeat;
}
#btn_Nav_4 a:hover {	
	background-position: -171px 0;
}

#btn_Nav_5 a {
	display:block;
	width:104px;
	height:30px;
	background: url("/content/global/img/btn_Community_complete.gif") 0 0 no-repeat;
}
#btn_Nav_5 a:hover {	
	background-position: -104px 0;
}

#btn_Nav_6 a {
	display:block;
	width:83px;
	height:30px;
	background: url("/content/global/img/img_Navigation_rollover.gif") 0 0 no-repeat;
}
#btn_Nav_6 a:hover {	
	background-position: -100px 0;
}

#btn_Nav_7 a {
	display:block;
	width:87px;
	height:30px;
	background: url("/content/global/img/img_Navigation_rollover.gif") 0 0 no-repeat;
}
#btn_Nav_7 a:hover {	
	background-position: -100px 0;
}

#btn_Nav_8 a {
	display:block;
	width:35px;
	height:30px;
	background: url("/content/global/img/img_Navigation_rollover.gif") 0 0 no-repeat;
}
#btn_Nav_8 a:hover {	
	background-position: -100px 0;
}

#container {height: 100%; position: relative;width:175px; }
#bottom {position: absolute; bottom: 0; }

/* sburson additions end */
/* knichols additions begin */
		
.username {
	color:#555555;
	font-weight: bold;
	padding-top: 3px;
	padding-bottom: 6px;
}


.signup {
	background:#fff4ca;
}

.padleft10 {
	padding-left:10px;
}

.padtop20 {
	padding-top:20px;
}

.padbottom15 {
	padding-bottom:15px;
}

.padtop15 {
	padding-top:15px;
}

.signup_padding {
	padding-left:20px;
	padding-right:8px; 
}


.signup_padding2 {
	vertical-align:middle;padding-top:7px;
}


.signup_padding3 {
	padding-top: 6px;
	padding-bottom: 4px;
}


.rightnav_dotborder {
	border-left: 1px dotted #cccccc; 
	padding-left: 10px;
}

				
/* knichols additions end */
		
		

#miscNotesContainer {
	position:relative;
	width:320px;
	height:70px;
	padding:10px 0px 10px 0px;
}
#fitFact {
	position:relative;
	left:0px;
	font-size: 9px;
 	vertical-align:middle;
 	padding:0px;
	margin:0px;
	text-align:left;
	width:125px;
}
#fabric {
	position:absolute;
	left:160px;
	top:12px;
	width:125px;
	font-size: 9px;
	vertical-align:middle;
	padding-left:15px;
	text-align:center;
}
.fitIcon {
	margin:0px 5px 10px 0px;
	align:right;
}
.fabricScale {
	margin:3px;
}
#md {
	position:absolute;
	width:1px;
	height:60px;
	left:150px;
	top:10px;
	border-left:1px #cccccc dotted;
}
.fitTitle {
	margin-bottom:5px;
}

.addToCartButton {
	display: none;
}

		
