//
// File:	src/resources.h
// Object:	Resources for Turn Watcher to have a version
//
// Copyright:	Copyright (c) 2005-2008 Made to Order Software Corp.
//
//		All Rights Reserved.
//
//		This software and its associated documentation contains
//		proprietary, confidential and trade secret information
//		of Made to Order Software, Corp. and except as provided by
//		written agreement with Made to Order Software, Corp.
//
//		a) no part may be disclosed, distributed, reproduced,
//		   transmitted, transcribed, stored in a retrieval system,
//		   adapted or translated in any form or by any means
//		   electronic, mechanical, magnetic, optical, chemical,
//		   manual or otherwise,
//
//		and
//
//		b) the recipient is not entitled to discover through reverse
//		   engineering or reverse compiling or other such techniques
//		   or processes the trade secrets contained therein or in the
//		   documentation.
//
//


#include	"resources.h"
#include	<windows.h>

// delcare the icon for this program
IDI_APP_ICON         ICON    DISCARDABLE     "turnwatcher.ico"


VS_VERSION_INFO VERSIONINFO
 FILEVERSION		@VERSION_MAJOR@,@VERSION_MINOR@,@BUILD_VERSION@,0
 PRODUCTVERSION		@VERSION_MAJOR@,@VERSION_MINOR@,@BUILD_VERSION@,0
 FILEFLAGSMASK		0x3fL
 FILEFLAGS		0x28L
 FILEOS			0x4L
 FILETYPE		0x1L
 FILESUBTYPE		0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "Comments",		"Turn Watcher -- The tools that every Dungeons Master wants!\0"
            VALUE "CompanyName",	"Made to Order Software Corp.\0"
            VALUE "FileDescription",	"Turn Watcher -- to manage your characters and monsters initiative easilly!\0"
            VALUE "FileVersion",	"@VERSION_MAJOR@, @VERSION_MINOR@, @BUILD_VERSION@, 0\0"
            VALUE "InternalName",	"Turn Watcher\0"
            VALUE "LegalCopyright",	"2005-2008 (c) Copyright Made to Order Software Corp. All rights reserved.\0"
            VALUE "LegalTrademarks",	"Turn Watcher is a legal trademark by Made to Order Software Corp.\0"
            VALUE "OriginalFilename",	"turnwatcher.exe\0"
            VALUE "PrivateBuild",	"Selling a d20 game? Want to bundle Turn Watcher with it? Contact Made to Order Software Corp. http://www.m2osw.com\0"
            VALUE "ProductName",	"Turn Watcher@DEMO@ by Made to Order Software Corp.\0"
            VALUE "ProductVersion",	"@VERSION_MAJOR@, @VERSION_MINOR@, @BUILD_VERSION@, 0\0"
            VALUE "SpecialBuild",	"We have versions for CD and Internet installations.\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

