[Desktop Entry]
Comment=A Dungeon Master's Initiative Manager
Comment[en]=A Dungeon Master's Initiative Manager
Encoding=UTF-8
Exec=/usr/bin/turnwatcher
GenericName=Turn Watcher Initiative Manager
GenericName[en]=Turn Watcher Initiative Manager
Icon=/usr/share/turnwatcher/turnwatcher.png
MimeType=
Name=Turn Watcher
Name[en]=Turn Watcher
Path=/usr/lib/turnwatcher/lib
StartupNotify=true
Terminal=false
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
